

<div>
  <div class="uploading" *ngIf="uploadingIsNotNullOrEmpty()">
    <h6>Uploading</h6>
    <div class="file-preview table">
      <table class="table table-bordered table-hover">
        <tr class="file-preview-item" *ngFor="let file of uploads; let i = index">
          <td class="file-content">
            <img src="{{ file.icon }}" *ngIf="file.icon">
            <i class="fas {{ file.faIcon }}" *ngIf="file.faIcon"></i>
          </td>
          <td>
            <p>{{ file.file.name }} <i>{{ file.size }}</i></p>
            <ngb-progressbar *ngIf="(file.percentage>0)" [showValue]="true" type="info" [value]="file.percentage"></ngb-progressbar>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <ng2-file-input (onAction)="onInputAction($event)"
                  [drop-text]="dropText"
                  [accept]="inputAccept"
                  [extensions]="extensions"
                  [show-previews]="false"
                  [multiple]="multiple"></ng2-file-input>
</div>
