
<div class="open-news-app">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-nowrap p-0">
    <div>
      <button class="navbar-toggler" type="button" (click)="toggleSideNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!--<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"></a>-->
    <input id="txtArticleSearch" class="form-control form-control-dark w-100" type="text" placeholder="Search Articles" (keyup)="doSearch($event)" aria-label="Search" >
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" target="_top" href="{{getLiveModuleUrl()}}">View Live Module</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
      <div id="sidenav" class="col-sm-3 col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
          <h4 class="p-2">Open News Admin</h4>
          <ul class="nav flex-column pb-4">
            <li class="nav-item" *ngIf="isAuthor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="isAuthor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/articles">Articles</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/tags">Tags</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/custom-fields">Custom Fields</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/email-templates">Email Templates</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/render-templates">Render Templates</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/main-settings">Settings</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
              <a class="nav-link" [routerLinkActive]="['active']" routerLink="/import">Import</a>
            </li>
          </ul>
        </div>
      </div>
      <main class="col ml-sm-auto">
        <ngx-loading-bar class="mb-3" [fixed]="false"></ngx-loading-bar>
        <div></div>
        <router-outlet></router-outlet>
        <!--<app-messages></app-messages>-->
      </main>
  </div>
</div>

